@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");


img {
  width: 100%;
  height: auto;
}
.animals-container{
  height: 72vh;
  max-height: 72vh;;
}
* {
  margin: 0;
  padding: 0;
}

.habitats {
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.9);
  font-size: 5.2vw;
  border-radius: 3px;
  background-color: white;
  height: 72vh;
  max-width: 100%;

}
.animalss {
  height: 33%;
  border-radius: 3px;
  color: #fff;
  transition: 2s;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.9);
}
body {
  font-family: "Luckiest Guy", cursive;
  background-color: #eee;
  color: #111;
  cursor: url("../images/cursor0.png"), auto;
}

table{
  width: 100%;
	text-align: center;
	border-collapse: collapse;
}
header {
  max-height: 20vh;
  background:-webkit-radial-gradient(center center, circle,green , #CAE600);
  background:-moz-radial-gradient(center center, circle,#CAE600 , green);
  background:-o-radial-gradient(center center, circle,#CAE600 , green);
  background:-ms-radial-gradient(center center, circle,#CAE600 , green);
  height: auto;
  text-align: center;
  width: 100%;
  max-width: 100%;
  padding-left: 2vw;
  padding-right: 2vw;
  padding: 20px 0;
  color: white;
}
header > img {
  max-width: 10vh;
  height: auto;
  width: auto;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.score {
  font-family: Luckiest Guy;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  margin: 1rem;
  position: relative;
  transition: opacity 0.2s;
}
#play-again-btn {
  position: absolute;
  top: -0.5rem;
  left: 50%;
  margin-left: -50px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #111;
  border: 5px double #fff;
  border-radius: 14px;
  padding: 8px 10px;
  outline: none;
  letter-spacing: 0.05em;
  cursor: pointer;
  display: none;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s, background-color 0.2s;
  cursor: url("../images/cursor.png"), auto;
}
#play-again-btn:hover {
  background-color: #333;
}
#play-again-btn:active {
  background-color: #555;
}
#play-again-btn.play-again-btn-entrance {
  opacity: 1;
  transform: translateX(6rem);
}
.draggable-items {
  transition: opacity 0.5s;
}
.draggable {
  transition: opacity 0.2s;
  cursor: url("../images/cursor.png"), auto;
}

.draggable:hover {
  opacity: 0.5;
}
.matching-pairs {
  border-radius: 3px;
  transition: opacity 0.5s;
}
.droppable {
  transition: 0.2s;
}
.droppable-hover {
  background-color: #bee3f0;
  transform: scale(1.1);
  cursor: url("../images/cursor.png"), auto;
}

.dropped {
  border-style: solid;
}
.dragged {
  user-select: none;
  opacity: 0.1;
  cursor: url("../images/cursor0.png"), auto;
}
.draggable.dragged:hover {
  opacity: 0.1;
}
.matching-pairs span{
  font-size: 2vw;
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
  #play-again-btn {
    top: -0.4rem;
  }
  #play-again-btn.play-again-btn-entrance {
    transform: translateX(7rem);
  }
}

.creditos {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.9);
  font-size: 5.2vw;
  border-radius: 3px;
  background-color: white;
  height: 77vh;
  max-width: 100%;
}

.ctext {
  font-size: 2vw;
}

.ctext > p {
  font-size: 1vw;
  color: rgb(49, 49, 49);
}

#autores {
  margin-bottom: 1em;
}

.colcenter{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.around{
  width: 100%;
}

.between {
  justify-content: space-between;
}

.right {
  padding-right: 5em;
  cursor: url("../images/cursor.png"), auto;
}

.left {
  padding-left: 6.2em;
  cursor: url("../images/cursor.png"), auto;
}
